body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    box-sizing: border-box;
}
.kader{
    border:solid 5px black;
    width:200px; 
    height: 200px;

}
.kader>img{
    object-fit: cover;
     z-index: -1;
     width: 200px;
}

.custom-title-class{
    color:green;

}
.container{
    width: 1800px;
    height: 500px;
    border: 3px dashed black;
    position: absolute;
}
.red{
    margin-top: 20px;
    background-color: red;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 200px;
}
.redL{
    width: 30px;
    height: 30px;
    background-color: grey;
    position: relative;
    transition: transform 12s;
}
.green{
    margin-top: 20px;
    background-color:green;
    width: 150px;
    height: 150px;
    position: relative;
    top: 200px;
    left: 1500px;
}
.greenL{
    width: 30px;
    height: 30px;
    background-color: grey;
    position: absolute;
    bottom: 10px;
    left:10px;
}
